body {
  font-family: Arial;
  margin: 0;
}

header {
  background: rgb(137, 47, 11);
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

section {
  padding: 20px;
}

img {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Responsive */
@media (max-width:600px){
  nav a {
    display:block;
    margin:5px;
  }
}